<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
    </head>
    <body>
        <!-- <form
                                    action="/todos/update/<%= todo.id %>"
                                    method="POST"
                                >
                                    <input
                                        type="hidden"
                                        name="id"
                                        value="<%- todo.id %>"
                                    />
                                    <button
                                        class="btn btn-sm btn-outline"
                                        type="submit"
                                    >
                                        Edit
                                    </button>
                                </form> -->
    </body>
</html>
