<body>
    <h1>Todo List Express</h1>
    <h1 class="text-black font-extrabold text-center text-4xl">Hello World</h1>
    <hr />
    <ul>
        <% todos.forEach((todo) => { %>
        <li style="margin-top: 10px; margin-bottom: 10px">
            <a style="padding: 20px" href="/todos/id/<%= todo.id %>"
                ><%= todo.title %></a
            >
            <form action="/todos/delete/id/<%= todo.id %>" method="POST">
                <input type="hidden" name="id" value="<%- todo.id %>" />
                <button class="btn btn-primary" type="submit">Delete</button>
            </form>
        </li>

        <% }); %>
    </ul>
    <br />
    <hr />

    <form action="/todos" method="POST">
        <input type="text" name="title" placeholder="Insert new todo task" />
        <button type="submit">Add Task</button>
    </form>
</body>
